<header>

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" routerLink="home">Felix Project</a>
            </div>
            <ul class="nav navbar-nav">
                <li routerLinkActive="active current" *ngIf="isLoggedIn  else loggedOut"><a><i class="fa fa-user-circle-o" aria-hidden="true"></i>{{name}}</a></li>
                <li routerLink="../cart" routerLinkActive="active current" class="cursor"><a><i class="fa fa-shopping-cart" aria-hidden="true"></i>  <span  matBadge="{{totalquantity}}" matBadgeColor="warn" matBadgeOverlap="false"> Cart</span> </a></li>
                <li (click)="toggale()"><a><i class="fa fa-bell" aria-hidden="true"></i></a></li>
            </ul>
        </div>
    </nav>
</header>
<div *ngIf="show">
    <ul class="dropdown-menu3">
        <p class="padding center"> Notifications</p>
        <li class="divider"></li>
        <li class="padding" *ngFor="let notifications of info"><span class="cursor">{{notifications.h1}} </span> <span>{{notifications.h2}} </span>
        </li>
        <li class="divider"></li>
        <li class="padding center cursor">View All Notifications&nbsp;&nbsp; <i class="fa fa-angle-right" aria-hidden="true"></i></li>
    </ul>
</div>