<section class="container flex margin-top">
    <div class="row">
        <div class="col-md-10  ">
            <div class="flex">
                <div class="col-md-5">
                    <h2>Girls Dress</h2>
                    <img [src]="img">
                    <div class="flex margin-top">
                        <div class="col-md-6">
                            <button routerLink="/home" mat-raised-button color="warn" class=" btn-add" type="submit">Back to Shopping</button>
                        </div>
                        <div class="col-md-6">
                            <button mat-raised-button color="primary" class=" btn-add" type="submit"><i class="fa fa-shopping-cart" aria-hidden="true"></i> &nbsp;&nbsp;&nbsp; Buy Now</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-7">
                    <h3>Aarika Baby Girls' A-Line Knee-Long Dress</h3>
                    <h5><i class="fa fa-inr" aria-hidden="true"></i> :- 900</h5>

                    <h5>Color :- Blue, Sleeveless</h5>
                    <h6>Delivery :-
                        <mat-form-field class="example-full-width">
                            <input type="number" matInput placeholder="Pin Code">
                        </mat-form-field>
                    </h6>
                    <h5>Description :- </h5>
                    <ol>
                        <li>Fabric: Cotton and Polyester. </li>
                        <li>Suitable for : Girl's Ideal for all party occasions, birthday, festivals and gifting.</li>
                        <li>Stylish and Trendy. Sleeveless</li>
                    </ol>
                </div>
            </div>
            <div class="margin-top">
                <h2>Specifications</h2>
                <h5>Comfortable to wear all day long. Make your daughter special for every one Wash Care Instructions: Wash In Cold Water. Do Not Bleach</h5>
                <h2>Special offers and product promotions</h2>
                <ul>
                    <li>Go Cashless: Get 10% cashback up to Rs. 50 using BHIM UPI (available only on mobile app/website) or RuPay cards. Offer period 1st September to 30th September. Cashback will be credited as Amazon Pay balance within 15 days from purchase.
                        Here's how (terms and conditions apply)</li>
                    <li>Go Cashless: Get 10% cashback up to Rs. 100 using Visa debit card, credit card or ATM card. Only on your first 2 cashless orders on Amazon.in (including mobile recharges and bill payments). Offer period 4th Sep to 30th Sep. Cashback
                        within 10 days. Here's how (terms and conditions apply)</li>
                    <li>Go Cashless: Get 10% cashback up to Rs. 100 using Visa Signature or Visa Infinite cards. Offer valid only once per customer (including mobile recharges and bill payments). Offer period: 11th Sep to 24th Sep. Cashback within 10 days.
                        Here's how (terms and conditions apply)</li>
                </ul>
            </div>
        </div>
        <div class="col-md-2 ">
            <h2 class="">Order Info</h2>
        </div>
    </div>
</section>

<app-footer1></app-footer1>