.login {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    height: 400px;
    width: 350px;
    border-radius: 25px;
    padding: 20px;
    background-color: #F7F7F7;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.login-img {
    width: 100px;
    border-radius: 100px;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.example-full-width {
    width: 100%;
}

form {
    margin-top: 10px;
}

p.account a {
    text-decoration: none;
}

button {
    margin-top: 15px;
    width: 100px;
}

.account {
    margin-top: 10px;
}

.myclass::ng-deep.mat-form-field-placeholder {
    color: red;
}

::-webkit-input-placeholder {
    color: red;
}