<section class="container margin-top">
    <div class="row content">
        <div class="col-sm-9 sidenav">

            <div class="product1 col-md-12 ">
                <div class="flex">
                    <div class="col-sm-5">
                        <h2>Men Wallet</h2>
                        <figure>
                            <img class="img1" *ngFor='let x of productImg1' [src]="x.img" alt="">
                        </figure>
                        <div class="center margin-top">
                            <button routerLink="/home" mat-raised-button color="warn" class=" btn-add" type="submit">Back to Shopping</button>
                        </div>
                    </div>
                    <div class="col-sm-7">
                        <h3>Hidelink Men Formal Brown Genuine Leather Wallet (9 Card Slots)</h3>
                        <h5><i class="fa fa-inr" aria-hidden="true"></i> :- 499</h5>
                        <h5>Color :- Brown</h5>
                        <h6>Delivery :-
                            <mat-form-field class="example-full-width">
                                <input type="number" matInput placeholder="Pin Code">
                            </mat-form-field>
                        </h6>
                        <h5>Description :- Crafted from genuine leather, this Hidelink wallet not only has a classy finish, but also has stitch detailing to add to its overall look</h5>
                    </div>
                </div>

                <div class="margin-top">
                    <h3>Ratings and Reviews</h3>
                    <div class="col-md-12 flex">

                        <div class="offset-md-1">
                        </div>
                        <div class="col-md-2">
                            <h5>Total Reviews</h5>
                            <h2>3.9 <i class="material-icons">star</i></h2>
                            <p>Ratings 11365</p>
                        </div>

                        <div class="col-md-8">
                            <h4 class="flex">5 <i class="material-icons">star</i> &nbsp;&nbsp;&nbsp;
                                <mat-progress-bar mode="determinate" value="100"></mat-progress-bar>
                            </h4>
                            <h4 class="flex">4 <i class="material-icons">star</i> &nbsp;&nbsp;&nbsp;
                                <mat-progress-bar mode="determinate" value="80"></mat-progress-bar>
                            </h4>
                            <h4 class="flex">3 <i class="material-icons">star</i> &nbsp;&nbsp;&nbsp;
                                <mat-progress-bar mode="determinate" color="accent" value="60"></mat-progress-bar>
                            </h4>
                            <h4 class="flex">2 <i class="material-icons">star</i> &nbsp;&nbsp;&nbsp;
                                <mat-progress-bar mode="determinate" color="warn" value="30"></mat-progress-bar>
                            </h4>

                            <h4 class="flex">1 <i class="material-icons">star</i> &nbsp;&nbsp;&nbsp;
                                <mat-progress-bar mode="determinate" color="warn" value="10"></mat-progress-bar>
                            </h4>
                        </div>
                        <div class="col-md-1">
                            <p>4654</p>
                            <p>2654</p>
                            <p>3235</p>
                            <p>722</p>
                            <p>100</p>
                        </div>

                    </div>

                    <h3>Specifications</h3>
                    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

                        <!--- Note that these columns can be defined in any order.
                              The actual rendered columns are set as a property on the row definition" -->

                        <!-- Position Column -->
                        <ng-container matColumnDef="position">
                            <th mat-header-cell *matHeaderCellDef> No. </th>
                            <td mat-cell *matCellDef="let element"> {{element.position}} </td>
                        </ng-container>

                        <!-- Name Column -->
                        <ng-container matColumnDef="name">
                            <th mat-header-cell *matHeaderCellDef> Name </th>
                            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                        </ng-container>

                        <!-- type Column -->
                        <ng-container matColumnDef="type">
                            <th mat-header-cell *matHeaderCellDef> Type </th>
                            <td mat-cell *matCellDef="let element"> {{element.type}} </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                </div>
            </div>

            <!-- End of product -->
        </div>
        <div class="col-sm-3 sidenav border1">
            <h3>New Product</h3>
            <!-- Box 1 -->
            <div routerLink="../product3" class="zoom border margin-top">
                <h5 class="center">Baby Dress</h5>
                <figure>
                    <img class="img2" *ngFor='let x of productImg1' [ngClass]="'center'" [src]="x.boys" alt="">
                    <figcaption>Boys Party(Festive)</figcaption>
                </figure>
            </div>
            <!-- Box 2 -->
            <div routerLink="../product1" class="zoom border margin-top">
                <h5 class="center">Wallet</h5>
                <figure>
                    <img class="img2" *ngFor='let x of productImg1' [ngClass]="'center'" [src]="x.img" alt="">
                    <figcaption>Men Formal Wallet</figcaption>
                </figure>
            </div>
            <!-- Box 3 -->
            <div routerLink="../product2" class="zoom border margin-top">
                <h5 class="center">Girls Dress</h5>
                <figure>
                    <img class="img2" *ngFor='let x of productImg1' [ngClass]="'center'" [src]="x.girl" alt="">
                    <figcaption>Girls / Party Dress</figcaption>
                </figure>
            </div>

            <!-- Box 4 -->
            <div routerLink="../product3" class="zoom border margin-top">
                <h5 class="center">Baby Dress</h5>
                <figure>
                    <img class="img2" *ngFor='let x of productImg1' [ngClass]="'center'" [src]="x.boys" alt="">
                    <figcaption>Boys Party(Festive)</figcaption>
                </figure>
            </div>
            <!-- Box 5 -->
            <div routerLink="../product1" class="zoom border margin-top">
                <h5 class="center">Wallet</h5>
                <figure>
                    <img class="img2" *ngFor='let x of productImg1' [ngClass]="'center'" [src]="x.img" alt="">
                    <figcaption>Men Formal Wallet</figcaption>
                </figure>
            </div>
        </div>
    </div>
</section>

<app-footer1></app-footer1>