<div class="container ">
    <div class="box col-md-6">

        <h2 class="top center">Payment Details</h2>
        <img class="imgcenter" src="{{img}}" alt="">
        <form #myFrom="ngForm" (ngSubmit)="onSubmit()">


            <div class="form-group">
                <label>CARD NUMBER</label>
                <input type="text" class="form-control" maxlength="12" placeholder="Valid Card Number" [(ngModel)]="payment.cardNo" required #cardNo1="ngModel">
            </div>

            <div class=" flex ">
                <div class="form-group">

                    <label>EXPIRATION DATE</label>
                    <input type="text" class="form-control " maxlength="7" placeholder="MM/YYYY" [(ngModel)]="payment.mmdd" required #mmdd1="ngModel">
                </div>

                <div class="left form-group">

                    <label>CV CODE</label>
                    <input type="text" class="form-control " maxlength="3" placeholder="CVV" [(ngModel)]="payment.vc" required #vc1="ngModel">
                </div>

            </div>
            <div class="form-group">

                <label>COUPON CODE</label>
                <input type="text" class="form-control" placeholder="COUPON CODE" [(ngModel)]="vcbvcb" required #c1="ngModel">
            </div>
            <button [disabled]="!myFrom.form.valid" class="btn btn-primary" type="submit">Confirm Payment</button>

        </form>
    </div>
</div>