<div class="container-fluid">
    <div class="row content">
        <div class="col-sm-2">
            <div class='item-name'>
                <div *ngFor="let item of inventriy; let i = index" routerLink='../product/{{i+1}}' class="zoom border margin-top">
                    <h5 class="figcaption">{{item.name}}</h5>
                    <figure>
                        <img [ngClass]="'center'" [src]="item.img" alt="">
                        <figcaption>{{item.figcaption}}</figcaption>
                    </figure>
                </div>
            </div>
        </div>
        <div class="col-sm-7 sidenav border1">
            <h4>Product Informtions</h4>

            <div class=" col-md-12">

                <li *ngFor="let item of inventriy; let i = index" class="margin-top flex box col-md-12">

                    <div class="col-sm margin-top">
                        <h4> {{item.name}}</h4>
                        <div class="pointer" routerLink='/product/{{i+1}}'>
                            <figure>
                                <img [ngClass]="'center'" [src]="item.img" alt="">
                                <figcaption>{{item.figcaption}}</figcaption>
                            </figure>
                        </div>
                    </div>
                    <div class="col-sm margin-top">
                        <h5>Prices :-{{item.price}}</h5>
                        <h5>Color :- {{item.Color}}</h5>
                        <h5>Quntity
                            <span (click)="deincres(i)"> <button [disabled]="item.deincre1" mat-mini-fab color="warn"><i class="fa fa-minus"  aria-hidden="true"></i></button></span> &nbsp;&nbsp;&nbsp;<span>{{item.quantity}}</span>&nbsp;&nbsp;&nbsp;
                            <span (click)="incres(i)"><button mat-mini-fab color="accent"><i class="fa fa-plus" aria-hidden="true"></i></button></span>
                        </h5>

                        <div class="left1 col-md-12 margin-top">
                            <div class="col-md-5">
                                <button (click)="cart(i)" [disabled]="item.deincre1" [style.background-color]="item.bgcolor" mat-raised-button color="primary" type="submit"> <i class="fa fa-shopping-cart" aria-hidden="true"></i> &nbsp;&nbsp;&nbsp;{{item.status}}</button>
                            </div>
                            <p class="offset-md-2"></p>
                            <div class="col-md-5">
                                <button routerLink='../product/{{i+1}}' class="btn-brif" mat-raised-button color="accent">Brif Info of Product</button>
                            </div>
                        </div>
                        <!-- <button *ngIf='!item.selected' (click)='addToCart(i)'>Add to Cart</button>
                        <button *ngIf='item.selected' (click)='removeFromCart(i)'>Remove from Cart</button> -->
                    </div>

                    <!--                    
                    <span>Quantity : </span>
                    <input type="number" min="0" [(ngModel)]='item.quantity'>
                    <button *ngIf='!item.selected' (click)='addToCart(i)'>Add to Cart</button>
                    <button *ngIf='item.selected' (click)='removeFromCart(i)'>Remove from Cart</button> -->
                    <div>

                    </div>
                </li>
            </div>


        </div>

        <div class="col-sm-3 sidenav">
            <h4>Order Informations</h4>
            <h2 class="margin-top">Total Amount</h2>

            <button mat-raised-button color="warn" class="font">{{totalPrize}}</button>
            <h4 class="margin-top">Total Items Carts</h4>
            <button mat-raised-button color="accent" class="font">{{totalquantity}}</button>
            <h4 class="margin-top">Confirmation Order</h4>
            <button routerLink="/paymentmode" mat-raised-button color="primary" type="submit">Process To Checkout</button>
        </div>
    </div>
</div>

<app-footer1></app-footer1>