<div class="container-fluid">
    <div class="row content">
        <div class="offset-sm-2"></div>
        <div class="col-sm-7 sidenav border1">
            <h4>Product Informtions</h4>


            <!-- PRODUCT 1 -->
            <div class="product1 border col-md-12 ">
                <h4>Wallet</h4>
                <div class="flex">
                    <div class="col-sm-4">
                        <figure>
                            <img class="center" [src]="img" alt="">
                            <figcaption>Men Formal Wallet</figcaption>
                        </figure>
                    </div>
                    <div class="col-sm-8">
                        <h5>Price : 499/-</h5>
                        <h5>Quntity

                            <span (click)="deincres()"> <button mat-mini-fab color="warn"><i class="fa fa-minus" aria-hidden="true"></i></button></span> &nbsp;&nbsp;&nbsp;<span>{{counter1}}</span>&nbsp;&nbsp;&nbsp;
                            <span (click)="incres()"><button mat-mini-fab color="accent"><i class="fa fa-plus" aria-hidden="true"></i></button></span>
                        </h5>
                        <h5>Color :- Brown</h5>
                        <div class="left1">
                            <button mat-raised-button color="primary" class=" col-md-5 btn-add" type="submit"> <i class="fa fa-shopping-cart" aria-hidden="true"></i> &nbsp;&nbsp;&nbsp;Add to cart</button>
                            <p class="offset-md-2"></p>
                            <button routerLink="../home/product1" mat-raised-button color="accent" class="col-md-5 btn-brif" type="submit">Brif Info of Product</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- PRODUCT 2 -->
            <br>
            <div class="product1 border col-md-12 ">
                <h4>Girls Dress</h4>
                <div class="flex">
                    <div class="col-sm-4">
                        <img class="center" [src]="girl" alt="">
                        <figcaption>Girls / Party Dress</figcaption>
                    </div>
                    <div class="col-sm-8">
                        <h5>Price : 900/-</h5>
                        <h5>Quntity
                            <span (click)="deincres2()"><button mat-mini-fab color="warn"><i class="fa fa-minus" aria-hidden="true"></i></button></span> &nbsp;&nbsp;&nbsp;<span>{{counter2}}</span>&nbsp;&nbsp;&nbsp;
                            <span (click)="incres2()"><button mat-mini-fab color="accent"><i class="fa fa-plus" aria-hidden="true"></i></button></span>
                        </h5>
                        <h5>Color :- Blue, Sleeveless</h5>
                        <div class="left1">
                            <button mat-raised-button color="primary" class="col-md-5 btn-add" type="submit"><i class="fa fa-shopping-cart" aria-hidden="true"></i> &nbsp;&nbsp;&nbsp;Add to cart</button>
                            <p class="offset-md-2"></p>
                            <button mat-raised-button color="accent" class="col-md-5 btn-brif" type="submit">Brif Info of Product</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Product 3  -->
            <br>
            <div class="product1 border col-md-12 ">
                <h4>Baby Dress</h4>
                <div class="flex">
                    <div class="col-sm-4">
                        <img class="center" [src]="boys" alt="">
                        <figcaption>Boys Party(Festive)</figcaption>
                    </div>
                    <div class="col-sm-8">
                        <h5>Price : 530/-</h5>
                        <h5>Quntity
                            <span (click)="deincres3()"><button mat-mini-fab color="warn"><i class="fa fa-minus" aria-hidden="true"></i></button></span> &nbsp;&nbsp;&nbsp;<span>{{counter3}}</span>&nbsp;&nbsp;&nbsp;
                            <span (click)="incres3()"><button mat-mini-fab color="accent"><i class="fa fa-plus" aria-hidden="true"></i></button></span>
                        </h5>
                        <h5>Color :- Red</h5>
                        <div class="left1">
                            <button mat-raised-button color="primary" class="col-md-5 btn-add" type="submit"><i class="fa fa-shopping-cart" aria-hidden="true"></i> &nbsp;&nbsp;&nbsp;Add to cart</button>
                            <p class="offset-md-2"></p>
                            <button mat-raised-button color="accent" class="col-md-5 btn-brif" type="submit">Brif Info of Product</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End of product -->
        </div>

        <div class="col-sm-3 sidenav">
            <h4>Order Informations</h4>
            <h2 class="margin-top">Total Count</h2>

            <button mat-raised-button color="warn"><h4>{{counter1*450 + counter2*900 + counter3*530 }}</h4></button>
            <h4 class="margin-top">Total Items Order</h4>
            <button mat-raised-button color="accent"><h4>{{counter1 + counter2 + counter3 }}</h4></button>
            <h4 class="margin-top">Confirmation Order</h4>
            <button mat-raised-button color="primary" type="submit">Buy Now</button>

        </div>
    </div>
</div>

<app-footer1></app-footer1>